html, body{
	height: 99%;
	width:  99%;
	background-color: rgb(19,29,81);
}
#oops{
	color: white;
	font-size: 90px;
}
#info {
	color: white;
	font-size: 50px;
}
a{
	text-decoration: none;
	color: white;
}
a#hover{
	text-decoration: none;
	columns: black;
}
#footer{
	color: white;
	float: right;
}